.login_header h2 {
    color: red;
    font-weight: normal;
    font-style: normal;
}

.login_head {
    margin-top: 4px;
    margin-bottom: 4px;
}

.user_login_form {
    margin-top: 10px;
}

.login_footer {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 5px;
    text-align: left;
}
.content_login {
    margin: 15px;
    width: 20%;
    min-width: 300px;
}

.send {
    margin-top: 5px;
}

.login_send {
    background-color: #26a514;
    height: 32px;
    border: 0;
    color: white;
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
}

.user_login_form input {
    width: 100%;
    height: 30px;
    font-size: 14px;
    border-radius: 6px;
    border: 2px solid #d9d9d9;
    padding: 2px;
}

.login_links {
    text-align: center;
    margin-top: 15px;
}

.login_links a {
    font-size: 16px;
    color: red;
    text-decoration: none;
}