.register {
    line-height: 20px;
    padding: 10px;
    width: 20%;
}

.register input {
    margin: 0px 0px 10px 0px;
    min-width: 200px;
    max-width: 80%;
}

.user_registration input, select {
    border-radius: 4px;
    border: 2px solid #d9d9d9;
    padding: 5px;
    width: 100%;
}

.cancel_button input {
    background-color: red;
    margin-top: 20px;
    height: 32px;
    border: 0;
    color: white;
    width: 20%;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
}

.create_account input {
    background-color: #26a514;
    height: 32px;
    border: 0;
    color: white;
    width: 20%;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
}
