/* Mike - Extra Small Screen */
.reviews .content {
    flex-direction: column;
    padding: 10px;
}

.review_tabs {
    display: flex;
    background-color: #d81e05;
    width: 100%;
    height: 75px;
    justify-content: space-evenly;
}

.review_create, .review_site, .review_trip {
    /* Does actually nothing */
}

.tab.active {
    background-color: var(--red);
    color: #dedede;
}

.review_create {
    background-color: white;
    flex: 1;
    width: 100%;
    height: 200px;
}

.review_site {
    background-color: white;
    flex: 1;
    width: 100%;
    height: 200px;
    border: 1px solid black;
}
.review {
    border: 1px solid black;
}

.review_trip {
    background-color: white;
    flex: 1;
    width: 100%;
    height: 200px;
    border: 1px solid black;
}

.review_create_button {
    background-color: gray;
    width: 75px;
    margin: 10px;
    border-radius: 12px;
    border: none;

}

.review_create_button:hover {
    background-color: gray;
    width: 75px;
    margin: 10px;
    border-radius: 12px;
    border: none;
    color: #d81e05;

}

.review_site_button {
    background-color: gray;
    width: 75px;
    margin: 10px;
    border-radius: 12px;
    border: none;
}

.review_trip_button {
    background-color: gray;
    width: 75px;
    margin: 10px;
    border-radius: 12px;
    border: none;
}

.review_site_button:hover {
    background-color: gray;
    width: 75px;
    margin: 10px;
    border-radius: 12px;
    border: none;
    color: #d81e05;
}

.review_trip_button:hover {
    background-color: gray;
    width: 75px;
    margin: 10px;
    border-radius: 12px;
    border: none;
    color: #d81e05;
}

.review_picture{
    width: 50px;
    height: 50px;
}


.review_content{
    display: inline-block;
}

.create_review_title{
    display: flex;
}

.create_review_box{
    display: flex;
}

.create_review_button {
    border: 0;
    height: 40px;
    width: 150px;
    background-color: #26a514;
    color: white;
    text-transform: uppercase;
}
/* End Mike - Extra Small Screen*/

@media (min-width: 768px) {

    /* Mike - Medium Screen */
    .reviews {
        width: 100%;
        flex: none;
    }

    .reviews .content {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .review_tabs {
        display: none;
    }

    .review_create, .review_site, .review_trip {
        display: flex;
    }

    .review_create {
        flex-basis: 100%;
        flex-direction: column;
        height: 300px;
        display: flex;
    }

    .review_site, .review_trip {
        flex-basis: 45%;
        margin-top: 10px;
        border: 1px solid black;
    }


    .review_picture {
        height: 50px;
        width: 50px;
    }

    .create_review_box {
        justify-content: center;
        margin: 15px;
        display: flex;
    }

    .create_review_title {
        margin: auto;
        display: flex;
        width: 30%;
    }

    .review_content {
        margin: auto;
        display: inline-block;
    }

    .review {
        border: 1px solid black;
    }

    .button {
        margin: 10px;
        text-align: center;
    }

    .create_review_button {
        border: 0;
        height: 40px;
        width: 150px;
        background-color: #26a514;
        color: white;
        text-transform: uppercase;
    }

    .review_text {
        width: 50%;
        height: 150px;
    }

}
/* Eind Mike - Medium Screen */