<div class="content">
    <div class="filter_content">
        <div class="filter_head">
            <i class="fas fa-times fa-2x"></i>
        </div>
        <form class="hobby_form">
            <div class="hobby">
                <h2 class="filterTitle" data-lang="hobby's">Hobby's</h2>
                <label><input type="checkbox" name="hobby" id="voetbal" data-lang="Voetbal">Voetbal</label><br>
                <label><input type="checkbox" name="hobby" id="hockey" data-lang="Hockey">Hockey</label><br>
                <label><input type="checkbox" name="hobby" id="paardrijden" data-lang="Paardrijden">Paardrijden</label><br>
                <label><input type="checkbox" name="hobby" id="wandelen" data-lang="Wandelen">Wandelen</label><br>
                <label><input type="checkbox" name="hobby" id="hardlopen" data-lang="Hardlopen">Hardlopen</label><br>
                <label><input type="checkbox" name="hobby" id="tennis" data-lang="Tennis">Tennis</label><br>
                <label><input type="checkbox" name="hobby" id="zeilen" data-lang="Zeilen">Zeilen</label><br>
                <label><input type="checkbox" name="hobby" id="boogschieten" data-lang="Boogschieten">Boogschieten</label><br>
                <label><input type="checkbox" name="hobby" id="golf" data-lang="Golf">Golf</label><br>
                <label><input type="checkbox" name="hobby" id="bowlen" data-lang="Bowlen">Bowlen</label><br>
                <label><input type="checkbox" name="hobby" id="basketbal" data-lang="Basketbal">Basketbal</label><br>
                <label><input type="checkbox" name="hobby" id="yoga" data-lang="Yoga">Yoga</label><br>
                <label><input type="checkbox" name="hobby" id="muziek" data-lang="Muziek">Muziek</label><br>
                <label><input type="checkbox" name="hobby" id="literatuur" data-lang="Literatuur">Literatuur</label><br>
                <label><input type="checkbox" name="hobby" id="kunst" data-lang="Kunst">Kunst</label><br>
                <label><input type="checkbox" name="hobby" id="astrologie" data-lang="Astrologie">Astrologie</label><br>
                <label><input type="checkbox" name="hobby" id="theater" data-lang="Theater">Theater</label><br>
                <label><input type="checkbox" name="hobby" id="toneel" data-lang="Toneel">Toneel</label><br>
                <label><input type="checkbox" name="hobby" id="film" data-lang="Film">Film</label><br>
            </div>
        </form>

        <form class="age_form">
            <div class="age">
                <h2 class="filterTitle" data-lang="leeftijden">Leeftijden</h2>
                <label><input type="checkbox" name="age" id="18-25">18-25</label><br>
                <label><input type="checkbox" name="age" id="25-35">25-35</label><br>
                <label><input type="checkbox" name="age" id="35-45">35-45</label><br>
                <label><input type="checkbox" name="age" id="45-55">45-55</label><br>
                <label><input type="checkbox" name="age" id="55-65">55-65</label><br>
                <label><input type="checkbox" name="age" id="65-75">65-75</label><br>
                <label><input type="checkbox" name="age" id="75-85">75-85</label><br>
                <label><input type="checkbox" name="age" id="85+">85+</label><br>
            </div>
        </form>

        <form class="destination_form">
            <div class="destination">
                <h2 class="filterTitle" data-lang="bestemmingen">Bestemmingen</h2>
                <label><input type="checkbox" name="destination" id="Aruba" data-lang="Aruba">Aruba</label><br>
                <label><input type="checkbox" name="destination" id="Bali" data-lang="Bali">Bali</label><br>
                <label><input type="checkbox" name="destination" id="Bonaire" data-lang="Bonaire">Bonaire</label><br>
                <label><input type="checkbox" name="destination" id="Bulgarije" data-lang="Bulgarije">Bulgarije</label><br>
                <label><input type="checkbox" name="destination" id="Curaçao" data-lang="Caraçao">Curaçao</label><br>
                <label><input type="checkbox" name="destination" id="Cyprus" data-lang="Cyprus">cyprus</label><br>
                <label><input type="checkbox" name="destination" id="Dubai" data-lang="Dubai">Dubai</label><br>
                <label><input type="checkbox" name="destination" id="Egypte" data-lang="Egypte">Egypte</label><br>
                <label><input type="checkbox" name="destination" id="Istanbul" data-lang="Istanbul">Istanbul</label><br>
                <label><input type="checkbox" name="destination" id="Gambia" data-lang="Gambia">Gambia</label><br>
                <label><input type="checkbox" name="destination" id="Griekenland" data-lang="Griekenland">Griekenland</label><br>
                <label><input type="checkbox" name="destination" id="Indonesië" data-lang="Indonesië">Indonesië</label><br>
                <label><input type="checkbox" name="destination" id="Italië" data-lang="Italië">Italië</label><br>
                <label><input type="checkbox" name="destination" id="Macedonië" data-lang="Macedonië">Macedonië</label><br>
                <label><input type="checkbox" name="destination" id="Marokko" data-lang="Marokko">Marokko</label><br>
                <label><input type="checkbox" name="destination" id="Portugal" data-lang="Portugal">Portugal</label><br>
                <label><input type="checkbox" name="destination" id="Spanje" data-lang="Spanje">Spanje</label><br>
                <label><input type="checkbox" name="destination" id="Thailand" data-lang="Thailand">Thailand</label><br>
                <label><input type="checkbox" name="destination" id="Turkije" data-lang="Turkije">Turkije</label><br>
                <label><input type="checkbox" name="destination" id="VerArabischeEmiraten" data-lang="Ver. Arabische Emiraten">Ver. Arabische Emiraten</label><br>
            </div>
        </form>

        <form class="gender_form">
            <div class="gender">
                <h2 class="filterTitle">Geslacht</h2>
                <label><input type="radio" name="gender" id="man" data-lang="Man" checked>Man</label><br>
                <label><input type="radio" name="gender" id="vrouw" data-lang="Vrouw">Vrouw</label><br>
            </div>
        </form>
    </div>
    <div id="map"></div>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpZHZVWcAzBCAx57ZYil8pCsDHPkA5D_s&callback=initMap">
    </script>
</div>