<div class="content">
    <div class="details">
    <img class="stock_photo" src="assets/img/no_avatar.jpg">

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut arcu velit, elementum a sagittis quis,
        fringilla non tellus. Mauris et faucibus nulla. Proin sagittis fermentum rutrum. Morbi congue arcu id
        dictum mollis. Curabitur mollis ligula et tellus aliquet, sed sollicitudin lacus gravida. Etiam laoreet
        dictum sodales. Vestibulum id tempor sapien, sit amet sagittis nibh.<br>

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut arcu velit, elementum a sagittis quis,
        fringilla non tellus. Mauris et faucibus nulla. Proin sagittis fermentum rutrum. Morbi congue arcu id
        dictum mollis. Curabitur mollis ligula et tellus aliquet, sed sollicitudin lacus gravida. Etiam laoreet
        dictum sodales. Vestibulum id tempor sapien, sit amet sagittis nibh.<br>

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut arcu velit, elementum a sagittis quis,
        fringilla non tellus. Mauris et faucibus nulla. Proin sagittis fermentum rutrum. Morbi congue arcu id
        dictum mollis. Curabitur mollis ligula et tellus aliquet, sed sollicitudin lacus gravida. Etiam laoreet
        dictum sodales. Vestibulum id tempor sapien, sit amet sagittis nibh.<br>

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut arcu velit, elementum a sagittis quis,
        fringilla non tellus. Mauris et faucibus nulla. Proin sagittis fermentum rutrum. Morbi congue arcu id
        dictum mollis. Curabitur mollis ligula et tellus aliquet, sed sollicitudin lacus gravida. Etiam laoreet
        dictum sodales. Vestibulum id tempor sapien, sit amet sagittis nibh.</p>
</div>
</div>