<div class="top-nav">
    <div class="content">
        <ul class="navigation">
            <li><a class="translate" href="" data-controller="manual" data-lang="top_nav_manual">Handleiding</a></li>
        </ul>
        <ul class="languages">
            <li><img class="langNL" src="assets/img/country/nl.svg" alt="Dutch"></li>
            <li><img class="langEN" src="assets/img/country/en.svg" alt="English"></li>
        </ul>
    </div>
</div>
<div class="header_body">
    <div class="content">
        <a href="" class="logo" data-controller="home"> <!--active -->
            <img src="assets/img/header-logo.svg" alt="Corendon">
            <i class="close_mobile_nav fas fa-chevron-left fa-lg"></i>
        </a>
        <div class="user_nav show_login_modal">
            <img class="user_avatar" src="assets/img/no_avatar.jpg" alt="">
            <p class="user_name"><span class="translate" data-lang="headerProfile">Mijn profiel</span></p>
        </div>
        <div class="user_nav_menu">
            <div class="toggle_user_nav">
                <i class="fas fa-bars fa-lg"></i>
            </div>
            <ul id="normal_nav_list">
                <li><a href="" data-controller="login"><i class="fas fa-power-off"></i><span class="translate" data-lang="loginNavbar">INLOGGEN</span></a></li>
                <li><a href="" data-controller="register"><i class="fas fa-users"></i><span class="translate" data-lang="registerNavbar">REGISTREREN</span></a></li>
                <li><a href="" data-controller="reviews"><i class="fas fa-book-reader"></i><span class="translate" data-lang="reviewNavbar">RECENCIES</span></a></li>
                <li><a href="" data-controller="manual"><i class="fas fa-book"></i><span class="translate" data-lang="manualNavbar">HANDLEIDING</span></a></li>
                <li><a href="" data-controller="profile-overview"><i class="fas fa-search"></i>
                    <span class="translate" data-lang="profilesNavbar">ZOEK BUDDIES</span></a></li>
            </ul>
        </div>
        <div class="user_nav_mobile">
            <a href="" data-controller="login">
                <i class="fas fa-user fa-lg"></i>
                <p class="translate" data-lang="loginNavlist">Inloggen</p>
            </a>
            <a href="" class="nav_toggle">
                <i class="fas fa-bars fa-lg"></i>
                <p>menu</p>
            </a>
        </div>
    </div>
</div>
<div class="nav">
    <div class="content">
        <ul id="normal">
            <li><a href="" data-controller="home"><i class="fas fa-home"></i></a></li>
            <li><a href="" data-controller="reviews"><span class="translate" data-lang="reviewNavlist">Recencies</span></a></li>
            <li><a href="" data-controller="profile-overview"><span class="translate" data-lang="profilesNavlist">Zoek Buddies</span></a></li>
            <li><a href="" data-controller="manual"><span class="translate" data-lang="manualNavlist">Handleiding</span></a></li>
            <li class="visitor"><a href="" data-controller="login"><span class="translate" data-lang="loginNavlist">Inloggen</span></a></li>
            <li><a href="" data-controller="register"><span class="translate" data-lang="registerNavlist">Registreren</span></a></li>
        </ul>
    </div>
</div>
<div id="nav_tabs_mobile">
    <div id="content">
        <div class="tab" id="menu">
            <ul>
                <li><a href="" data-controller="home">Home</a></li>
                <li><a href="" data-controller="login"><span class="translate" data-lang="loginNavlist">Inloggen</span></a></li>
                <li><a href="" data-controller="register"><span class="translate" data-lang="registerNavlist">Registreren</span></a></li>
                <li><a href="" data-controller="profile-overview"><span class="translate" data-lang="profilesNavlist">Zoek Buddies</span></a></li>
                <li><a href="" data-controller="reviews"><span class="translate" data-lang="reviewNavlist">Recencies</span></a></li>
                <li><a href="" data-controller="manual"><span class="translate" data-lang="manualNavlist">Handleiding</span></a></li>
            </ul>
        </div>
        <div class="tab">
            <ul class="languages">
                <li><img class="langNL" src="assets/img/country/nl.svg" alt="Dutch"></li>
                <li><img class="langEN" src="assets/img/country/en.svg" alt="English"></li>
            </ul>
        </div>
    </div>
</div>