<!--<div class="top-nav">-->
    <!--<div class="content">-->
        <!--<ul class="navigation">-->
            <!--<li><a class="translate" href="" data-controller="manual" data-lang="top_nav_manual">Handleiding</a></li>-->
            <!--<li><a href="" data-controller="favorite"><span class="translate" data-lang="favorites">Favorieten</span> <span>(0)</span></a></li>-->
        <!--</ul>-->
        <!--<ul class="languages">-->
            <!--<li><img id="langNL" src="assets/img/country/nl.svg" alt="Dutch"></li>-->
            <!--<li><img id="langEN" src="assets/img/country/en.svg" alt="English"></li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="header_body">-->
    <!--<div class="content">-->
        <!--<a href="" class="logo" data-controller="home"> &lt;!&ndash;active &ndash;&gt;-->
            <!--<img src="assets/img/header-logo.svg" alt="Corendon">-->
            <!--<i class="close_mobile_nav fas fa-chevron-left fa-lg"></i>-->
        <!--</a>-->
        <!--<div class="user_nav show_login_modal">-->
            <!--<img class="user_avatar" src="assets/img/no_avatar.jpg" alt="">-->
            <!--<p class="user_name">Mijn profiel</p>-->
        <!--</div>-->
        <!--<div class="user_nav_menu">-->
            <!--<div class="toggle_user_nav">-->
                <!--<i class="fas fa-bars fa-lg"></i>-->
            <!--</div>-->
            <!--<ul class="user_nav_list">-->
                <!--<li><a href="" data-controller="login"><i class="fas fa-power-off"></i><span class="translate" data-lang="login">INLOGGEN</span></a></li>-->
                <!--<li><a href="" data-controller="register"><i class="fas fa-users"></i><span class="translate" data-lang="register">REGISTREREN</span></a></li>-->
                <!--<li><a href="" data-controller="favorite"><i class="fas fa-star"></i><span class="translate" data-lang="favorites">FAVORIETEN</span> (<span>0</span>)</a></li>-->
            <!--</ul>-->
        <!--</div>-->
        <!--<div class="user_nav_mobile">-->
            <!--<a href="" class="login_toggle">-->
                <!--<i class="fas fa-user fa-lg"></i>-->
                <!--<p class="translate" data-lang="profile">profiel</p>-->
            <!--</a>-->
            <!--<a href="" class="nav_toggle">&lt;!&ndash;active &ndash;&gt;-->
                <!--<i class="fas fa-bars fa-lg"></i>-->
                <!--<p>menu</p>-->
            <!--</a>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="nav">-->
    <!--<div class="content">-->
        <!--<ul class="navbar">-->
            <!--<li><a href="" data-controller="home"><i class="fas fa-home"></i></a></li>-->
            <!--<li><a href="" data-controller="profile-overview">Profielen</a></li>-->
            <!--<li><a href="" data-controller="reviews">Reviews</a></li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="nav_tabs_mobile hide">-->
    <!--<div class="content">-->
        <!--<div class="tab" id="profile">-->
            <!--<input type="text" placeholder="username">-->
            <!--<input type="text" placeholder="password">-->
            <!--<input type="submit">-->
        <!--</div>-->
        <!--<div class="tab" id="menu">&lt;!&ndash;active &ndash;&gt;-->
            <!--<ul>-->
                <!--<li><a href="" data-controller="home">Home</a></li>-->
                <!--<li><a href="" data-controller="profile-overview">Profielen</a></li>-->
                <!--<li><a href="" data-controller="favorite">Favorieten</a></li>-->
                <!--<li><a href="" data-controller="reviews">Reviews</a></li>-->
                <!--<li><a href="" data-controller="manual">Handleiding</a></li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->