<div class="content flex_col home">
        <div class="frontpage_introduction">
            <h1><span class="translate" data-lang="greeting">Welkom</span><span class="user"></span></h1>
            <p><span data-lang="home1">Ben jij alleen op vakantie en wil je een keertje met iemand anders iets gaan doen voor een dagje?
                Dan ben je hier aan het juiste adres .</span> <br>
                <span data-lang="home2">Maak een account aan en word verbonden met duizende mensen over heel Europa.</span> <br>
                <span data-lang="home3"> Dit is jou kans voor een unieke ervaring die je nergens anders kunt krijgen.</span> <br>
                <span data-lang="home4"> in verbinding met mensen uit Frankrijk, Duitsland, Spanje en nog veel meer.</span></p>
            <div class="frontpage_registration_link"><a href="registration.html" data-lang="create_account">Account maken.</a></div>
        </div>
        <div class="frontpage_site_review">
            <h3>Site reviews</h3>
            <div class="site_reviews">
                <div class="site_review">
                    <div class="review_head">
                        <h4>Willem</h4>
                    </div>
                    <div class="review_body">
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a sodales velit. Sed
                            vitae<br>
                            risus magna. Morbi non convallis nunc.<br>
                            Sed at suscipit augue, id blandit sem. Morbi faucibus vitae mi sit amet gravida.<br>
                            Curabitur posuere quis sapien non egestas.</p>
                    </div>
                    <div class="review_footer">
                        <a href="reviews.html">lees meer...</a>
                    </div>
                </div>
                <div class="site_review">
                    <div class="review_head">
                        <h4>Ferdinand</h4>
                    </div>
                    <div class="review_body">
                        <p>Nullam imperdiet felis at arcu gravida, ut vulputate est lacinia. Sed ut convallis<br>
                            nulla, efficitur fermentum dui. Nunc nec dictum velit.<br>
                            Nulla dapibus erat sit amet augue mollis, hendrerit mollis nibh tincidunt. Nulla<br>
                            facilisi. In id leo a neque lacinia tempus.</p>
                    </div>
                    <div class="review_footer">
                        <a href="reviews.html">lees meer...</a>
                    </div>
                </div>
                <div class="site_review">
                    <div class="review_head"><h4>Manuel</h4></div>
                    <div class="review_body">
                        <p>Sed efficitur eu enim sodales sollicitudin. Fusce ut ex nec libero tristique gravida
                            et<br>
                            at dolor. Cras venenatis feugiat risus, at finibus purus euismod ut.<br>
                            Integer mi tortor, placerat ac efficitur ac, porttitor vel nulla. Vivamus volutpat magna<br>
                            sed eros ultrices, a posuere ex euismod.</p>
                    </div>
                    <div class="review_footer">
                        <a href="reviews.html">lees meer...</a></div>
                </div>
                <div class="site_review">
                    <div class="review_head"><h4>Afonso</h4></div>
                    <div class="review_body">
                        <p>Sed tincidunt enim eget nulla malesuada,<br>
                            eget vestibulum tortor pharetra. Aliquam lacinia arcu nec diam ullamcorper, ut
                            blandit<br>
                            mi sollicitudin. Orci varius natoque penatibus et magnis dis parturient montes, nascetur<br>
                            ridiculus mus.</p>
                    </div>
                    <div class="review_footer">
                        <a href="reviews.html">lees meer...</a></div>
                </div>
            </div>
        </div>
        <div class="frontpage_travel_review">
            <h3>Reis reviews</h3>
            <div class="travel_reviews">
                <div class="travel_review">
                    <div class="review_head"><h4>Pedro</h4></div>
                    <div class="review_body">
                        <p>Nam nisi mauris, feugiat in tellus ac, malesuada convallis mi. Nunc lobortis eleifend<br>
                            magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et justo ac
                            nulla<br>
                            bibendum iaculis nec faucibus tortor.<br>
                            Suspendisse potenti. Cras vitae ante in quam varius molestie.</p>
                    </div>
                    <div class="review_footer">
                        <a href="reviews.html">lees meer...</a></div>
                </div>
                <div class="travel_review">
                    <div class="review_head"><h4>Henrique</h4></div>
                    <div class="review_body">
                        <p>Phasellus sed convallis<br>
                            mauris. Duis placerat aliquet mattis. Nunc pulvinar rhoncus ex. Nulla ullamcorper<br>
                            ultricies tincidunt. Nullam id lorem finibus,<br>
                            feugiat est vel, molestie augue. Integer ac lobortis lacus. Nulla facilisi.</p></div>
                    <div class="review_footer">
                        <a href="reviews.html">lees meer...</a></div>
                </div>
                <div class="travel_review">
                    <div class="review_head"><h4>Prester John</h4></div>
                    <div class="review_body">
                        <p>Aliquam et cursus augue. Interdum et malesuada fames ac ante ipsum primis in
                            faucibus.<br>
                            Curabitur vel rhoncus sem.<br>
                            Fusce sed nisi varius, placerat leo in, eleifend libero. Praesent molestie sem ante.<br>
                            Aliquam tincidunt viverra hendrerit.<br>
                        </p></div>
                    <div class="review_footer">
                        <a href="reviews.html">lees meer...</a></div>
                </div>
                <div class="travel_review">
                    <div class="review_head"><h4>Maria</h4></div>
                    <div class="review_body">
                        <p> Proin ultricies fringilla lectus in venenatis. Aliquam sagittis bibendum
                            sollicitudin.<br>
                            Donec mollis, enim eget efficitur lacinia,<br>
                            lectus ipsum vestibulum sapien, ut pharetra magna magna eget neque. Nullam
                            sollicitudin<br>
                            semper risus tincidunt hendrerit.</p></div>
                    <div class="review_footer">
                        <a href="reviews.html">lees meer...</a></div>
                </div>
            </div>
        </div>
    </div>