<div class="content flex_col manual">

    <div class="info_manual">

        <h1> <span data-lang="Handleiding">Handleiding</span></h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vitae tempus mi. Phasellus
        pulvinar enim quis mi
        accumsan interdum. Suspendisse ornare vel nunc non facilisis. Proin at mollis metus, at lacinia lorem.
        Etiam efficitur
        lectus sed magna vestibulum mollis. Donec aliquam enim nec tortor ullamcorper elementum. Donec non erat
        turpis. Morbi magna ex,
        consectetur eu facilisis sed, efficitur vitae felis. Ut volutpat faucibus rutrum.
        Morbi pellentesque dolor sed massa imperdiet tincidunt. Phasellus lobortis enim mauris, at rutrum nibh
        dapibus iaculis. Vivamus in nibh arcu.
        Pellentesque nisl enim, gravida vitae luctus sit amet, pellentesque ac libero. Vivamus sapien lectus,
        auctor eget augue id, accumsan eleifend libero.
        Proin iaculis quis libero id varius.</p>

        <h3><span data-lang="Beschrijving">Beschrijving</span></h3>

    <p>Sed vitae sem nisl. Duis condimentum quam vitae odio convallis, vel mollis neque dignissim. Sed non
        lorem laoreet,
        molestie ipsum ac, congue risus. In hac habitasse platea dictumst. Nulla interdum dui ac ligula tempus,
        vitae
        sollicitudin nisi consequat. Aenean suscipit libero id risus consequat, quis finibus nunc condimentum.
        Suspendisse
        potenti. Donec vel purus eget urna lobortis commodo a in tortor. Vivamus aliquam ut tellus non
        accumsan.</p>

        <h3><span data-lang="Klantenservice">Klantenservice</span></h3>

    <p>Sed vitae sem nisl. Duis condimentum quam vitae odio convallis, vel mollis neque dignissim. Sed non
        lorem laoreet,
        molestie ipsum ac, congue risus. In hac habitasse platea dictumst. Nulla interdum dui ac ligula tempus,
        vitae
        sollicitudin nisi consequat. Aenean suscipit libero id risus consequat, quis finibus nunc condimentum.
        Suspendisse
        potenti. Donec vel purus eget urna lobortis commodo a in tortor. Vivamus aliquam ut tellus non
        accumsan.</p>

        <h3><span data-lang="Inlog_Problemen">inlog problemen</span></h3>
    <p>Sed vitae sem nisl. Duis condimentum quam vitae odio convallis, vel mollis neque dignissim. Sed non
        lorem laoreet,
        molestie ipsum ac, congue risus. In hac habitasse platea dictumst. Nulla interdum dui ac ligula tempus,
        vitae
        sollicitudin nisi consequat. Aenean suscipit libero id risus consequat, quis finibus nunc condimentum.
        Suspendisse
        potenti. Donec vel purus eget urna lobortis commodo a in tortor. Vivamus aliquam ut tellus non
        accumsan.</p>

        <h3><span data-lang="Profielen">profielen</span></h3>
        <p>Sed vitae sem nisl. Duis condimentum quam vitae odio convallis, vel mollis neque dignissim. Sed non
            lorem laoreet,
            molestie ipsum ac, congue risus. In hac habitasse platea dictumst. Nulla interdum dui ac ligula tempus,
            vitae
            sollicitudin nisi consequat. Aenean suscipit libero id risus consequat, quis finibus nunc condimentum.
            Suspendisse
            potenti. Donec vel purus eget urna lobortis commodo a in tortor. Vivamus aliquam ut tellus non
            accumsan.</p>

        <h3><span data-lang="Reviews">reviews</span></h3>
        <p>Sed vitae sem nisl. Duis condimentum quam vitae odio convallis, vel mollis neque dignissim. Sed non
            lorem laoreet,
            molestie ipsum ac, congue risus. In hac habitasse platea dictumst. Nulla interdum dui ac ligula tempus,
            vitae
            sollicitudin nisi consequat. Aenean suscipit libero id risus consequat, quis finibus nunc condimentum.
            Suspendisse
            potenti. Donec vel purus eget urna lobortis commodo a in tortor. Vivamus aliquam ut tellus non
            accumsan.</p>

        <h3><span data-lang="User_Settings">user settings</span></h3>
        <p>Sed vitae sem nisl. Duis condimentum quam vitae odio convallis, vel mollis neque dignissim. Sed non
            lorem laoreet,
            molestie ipsum ac, congue risus. In hac habitasse platea dictumst. Nulla interdum dui ac ligula tempus,
            vitae
            sollicitudin nisi consequat. Aenean suscipit libero id risus consequat, quis finibus nunc condimentum.
            Suspendisse
            potenti. Donec vel purus eget urna lobortis commodo a in tortor. Vivamus aliquam ut tellus non
            accumsan.</p>

    </div>
</div>
