<div class="content flex_col reviews">
    <div class="review_tabs">
        <button class="review_site_button active"><span class="translate" data-lang="site_review">site review</span></button>
        <button class="review_trip_button"><span class="translate" data-lang="reis_review">reis review</span></button>
        <button class="review_create_button"><span class="translate" data-lang="review_maken">review maken</span></button>
    </div>
    <div class="error"></div>

    <div class="review_create hide">
        <form class="review_send">
            <div class="create_review_title">
                <input name="title" type="text" id="title_review" placeholder="type hier de titel" required>
                <select name="selectType" id="selectType" title="type review">
                    <option value="site" selected>site review</option>
                    <option value="trip">trip review</option>
                </select>
            </div>
            <div class="create_review_box">
                    <textarea class="review_text" name="review" id="desc_review" cols="40" rows="10"
                              placeholder="Type hier de omschrijving"
                              required></textarea>
            </div>
            <div class="button">
                <input type="submit" class="create_review_button" value="plaatsen">
            </div>
        </form>
    </div>

    <div class="review_site active">
        <div class="reviews">
            <div class="review">
                <img class="review_picture" src="../assets/img/user.png">
                <div class="review-title">
                <h2>Review site 1</h2>
            </div>
            <div class="review_content">
                <p>Inhoud review 1Inhoud review 1Inhoud review 1Inhoud review 1Inhoud review 1Inhoud review 1Inhoud review 1Inhoud review 1Inhoud review 1Inhoud review 1Inhoud review 1Inhoud review 1Inhoud review 1</p>
            </div>
        </div>
        <div class="review">
            <img class="review_picture" src="../assets/img/user.png">
            <div class="review_content">
                <h2>Review site 2</h2>
                <p>Inhoud review 2</p>
            </div>
        </div>
    </div>
</div>

<div class="review_trip hide">
    <div class="reviews">
        <div class="review">
            <img class="review_picture" src="../assets/img/user.png">
            <div class="review_content">
                <h2>Review trip 1</h2>
                <p>Inhoud review 1</p>
            </div>
        </div>
        <div class="review">
            <img class="review_picture" src="../assets/img/user.png">
            <div class="review_content">
                <h2>Review trip 2</h2>
                <p>Inhoud review 2</p>
            </div>
        </div>
    </div>
</div>

</div>

