<div class="content flex_col home">
    <h1>Welkom, Admin!</h1>

    <h3>Statistieken</h3>
    <div class="statistics">
        <div class="box">
            <h4>Site Traffic</h4>
            <canvas id="siteTraffic"></canvas>
        </div>
        <div class="box">
            <h4>Pagina bezoeken per browser</h4>
            <canvas id="pageViews"></canvas>
        </div>
    </div>
</div>