<div class="content flex_col profile_tile">
    <div class="profile_img"></div>
    <div class="profile_content">
        <div class="profile_header">
            <div class="favorite"><i class="far fa-star favorite_btn"></i></div>
        </div>
        <div class="profile_body"></div>
        <div class="profile_footer">
            <a href="../profiles/profile_details.html">Bekijk profiel</a>
        </div>
    </div>

</div>